


dataset/*
!dataset/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/models/.gitkeep
!outputs/forward/.gitkeep
!outputs/inverse/.gitkeep
!outputs/cyclic/.gitkeep
*.h5
*.keras


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

#  Virtual environments 
venv/
venv_wsl/
.venv/
env/
ENV/


.ipynb_checkpoints/


.DS_Store
Thumbs.db
desktop.ini


.vscode/
.idea/

#  excel lock files (e.g. .~lock.output.xlsx#) 
.~lock.*
~$*.xlsx
